@model Arbitration.Models.Notice

@{
    ViewData["Title"] = "DeleteNotice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteNotice</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Notice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerClaimant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerClaimant.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationOfFiling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationOfFiling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoticeOfArbitratorSelection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoticeOfArbitratorSelection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArbitratorsDisclosures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArbitratorsDisclosures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignedOathDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignedOathDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentOfArbitrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentOfArbitrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchedulingOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchedulingOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionOfHearing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionOfHearing)
        </dd>
    </dl>
    
    <form asp-action="DeleteNotice">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
