@model IEnumerable<Arbitration.Models.Arbiter>

@{
    ViewData["Title"] = "ManageArbitrators";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Arbitrators</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseTheory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VocationalIndustry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardsToCompanies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardsToClaimants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSelected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelationshipsWithParties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasStockInCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfCOI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseTheory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VocationalIndustry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardsToCompanies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardsToClaimants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSelected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationshipsWithParties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasStockInCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfCOI)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">Set Arbitrator Preferences</h4>
                <p class="card-text">Learn about what makes an ideal arbitrator, and set your preferences.</p>
                <p class="card-text">@ViewBag.Preferences</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/consumerclaimants/ArbitratorPreferences" role="button">Preferences</a>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">Arbitrator Choices</h4>
                <p class="card-text">Your arbitrator list will be mailed to you. Enter them here to help keep track of the ones you prefer.</p>
                <p class="lead">

                    <a class="btn btn-primary btn-lg" href="/consumerclaimants/ArbitratorOptions" role="button">See/Add Arbitrators</a>


                </p>
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">Compare Arbitrators</h4>
                <p class="card-text">Choose two arbitrators to compare</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="CompareArbitrators" role="button">Compare</a>
                </p>
            </div>
        </div>
    </div>
</div>
