@model IEnumerable<Arbitration.Models.CaseTheory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerClaimant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LawBroken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowLawBroken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perpetrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProofOfIntent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InInitiation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InArbitratorInvitation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InArbitratiorAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InPreliminaryHearing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InAward)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerClaimant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LawBroken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowLawBroken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perpetrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProofOfIntent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InInitiation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InArbitratorInvitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InArbitratiorAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InPreliminaryHearing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InAward)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
